<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rongcloud.moment.server.mapper.FeedMapper">

    <resultMap type="cn.rongcloud.moment.server.model.Feed" id="feedResult">
        <result property="feedId" column="FEED_ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="feedType" column="FEED_TYPE"/>
        <result property="feedContent" column="FEED_CONTENT"/>
        <result property="feedPoi" column="FEED_POI"/>
        <result property="feedStatus" column="FEED_STATUS"/>
        <result property="createDt" column="CREATE_DT"/>
        <result property="updateDt" column="UPDATE_DT"/>
    </resultMap>

    <sql id="selectTFeedVo">
        SELECT FEED_ID, USER_ID, FEED_TYPE, FEED_CONTENT, FEED_POI, FEED_STATUS, CREATE_DT, UPDATE_DT FROM T_FEED
    </sql>

    <insert id="insertFeed" parameterType="cn.rongcloud.moment.server.model.Feed" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO T_FEED
        <trim prefix="(" suffix=")" suffixOverrides=",">
            FEED_ID,
            USER_ID,
            FEED_TYPE,
            FEED_CONTENT,
            <if test="feedPoi != null and feedPoi != ''">FEED_POI,</if>
            FEED_STATUS,
            CREATE_DT,
            UPDATE_DT,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{feedId},
            #{userId},
            #{feedType},
            #{feedContent},
            <if test="feedPoi != null and feedPoi != ''">#{feedPoi},</if>
            #{feedStatus},
            #{createDt},
            #{updateDt},
        </trim>
    </insert>

</mapper>
