<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rongcloud.moment.server.mapper.LikeMapper">
  <resultMap id="BaseResultMap" type="cn.rongcloud.moment.server.model.Like">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="LIKE_ID" jdbcType="VARCHAR" property="likeId" />
    <result column="FEED_ID" jdbcType="VARCHAR" property="feedId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="LIKE_STATUS" jdbcType="INTEGER" property="likeStatus" />
    <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LIKE_ID, FEED_ID, USER_ID, LIKE_STATUS, CREATE_DT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_LIKE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_LIKE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.rongcloud.moment.server.model.Like">
    insert into T_LIKE (ID, LIKE_ID, FEED_ID, 
      USER_ID, LIKE_STATUS, CREATE_DT)
    values (#{id,jdbcType=BIGINT}, #{likeId,jdbcType=VARCHAR}, #{feedId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{likeStatus,jdbcType=INTEGER}, #{createDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.rongcloud.moment.server.model.Like">
    insert into T_LIKE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="likeId != null">
        LIKE_ID,
      </if>
      <if test="feedId != null">
        FEED_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="likeStatus != null">
        LIKE_STATUS,
      </if>
      <if test="createDt != null">
        CREATE_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="likeId != null">
        #{likeId,jdbcType=VARCHAR},
      </if>
      <if test="feedId != null">
        #{feedId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="likeStatus != null">
        #{likeStatus,jdbcType=INTEGER},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rongcloud.moment.server.model.Like">
    update T_LIKE
    <set>
      <if test="likeId != null">
        LIKE_ID = #{likeId,jdbcType=VARCHAR},
      </if>
      <if test="feedId != null">
        FEED_ID = #{feedId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="likeStatus != null">
        LIKE_STATUS = #{likeStatus,jdbcType=INTEGER},
      </if>
      <if test="createDt != null">
        CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rongcloud.moment.server.model.Like">
    update T_LIKE
    set LIKE_ID = #{likeId,jdbcType=VARCHAR},
      FEED_ID = #{feedId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      LIKE_STATUS = #{likeStatus,jdbcType=INTEGER},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByFeedIdAndUserId" resultMap="BaseResultMap">
    select first 1
    <include refid="Base_Column_List"/>
    from T_LIKE where FEED_ID = #{feedId}
    and USER_ID = #{userId}
  </select>

  <select id="selectPagedLike" resultMap="BaseResultMap">
    select
    <if test="size != null">
      first #{size}
    </if>
    <include refid="Base_Column_List"/>
    from T_LIKE where
    FEED_ID=#{feedId}
    <if test="fromLikeId != null and fromLikeId != ''">
      and  ID &gt; #{fromLikeId}
    </if>
    and LIKE_STATUS = 0
    order by ID ASC
  </select>

  <select id="selectByLikeId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_LIKE
    where LIKE_ID = #{id}
  </select>
</mapper>